<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UrbanCarry-Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="main w-full h-screen bg-gray-300 flex justify-center items-center"
    >
      <% if(error.length > 0) { %>
      <div
        class="absolute top-5 left-1/2 -translate-x-1/2 - translate-y-1/2 p-3 rounded-md bg-black"
      >
        <span class="inline-block mt-1 mb-1 text-white"> <%= error %> </span>
      </div>
      <% } %>
      <div class="w-1/3">
        <h2 class="text-3xl mb-3 text-center text-black-700 font-bold">
          Login Account
        </h2>
        <form action="/users/login" method="post">
          <input
            class="w-full px-3 py-2 bg-transparent rounded-md outline-none border-2 border-black mb-3"
            type="email"
            placeholder="Email"
            name="email"
          />
          <input
            class="w-full px-3 py-2 bg-transparent rounded-md outline-none border-2 border-black mb-3"
            type="password"
            placeholder="Password"
            name="password"
          />
          <input
            class="bg-black text-white w-full py-2 rounded-md font-bold hover:cursor-pointer"
            type="submit"
            value="Login"
          />
        </form>
        <div class="mt-5">
          <p class="text-center">
            Don't have an Account ?
            <a class="text-black font-bold" href="/register">Register</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
